/* app/components/navbar/navbar.component.scss */
.content-wrapper {
  min-height: 150vh !important;
  display: flex !important;
  flex-direction: column !important;
}
.faq {
  padding: 50px 0px 50px 0px;
}
.reserveer-block {
  padding: 0px 0px 50px 0px;
}
