
<header>
  <div class="header_img">
    <img ngSrc="../../assets/images/BBB_UTRECHT_140722_DEREKZOMER_17_web__CompressedW10.jpg" class="right-aligned-img" height="163" width="1243"/>
    <div class="header_text">
      <h1>BoulesBitesBar</h1>
    </div>
  </div>

  <div class="container">
    <div class="square-border">
      <img ngSrc="../../assets/images/logo.svg" class="right-aligned-img" height="163" width="1243"/>
      <div class="button-container">
        <button class="button1" (click)="scrollToCoordinates(0, 125)">Algemene vraag</button>
        <button class="button2" (click)="scrollToCoordinates(0, 225)">Reservering wijzigen</button>
      </div>
    </div>

  </div>
  <div class="title-container">
    <h1>Heeft u een vraag over uw reservering?</h1>
    <p>Wilt u meer informatie over de locatie, wilt u meer informatie over uw reservering of wenst u iets aan uw boeking te wijzigen?  Vraag het aan Jule, onze klantvriendelijke Robot </p>
  </div>
</header>
