<!-- app/components/navbar/navbar.html -->
<nav class="navbar">
  <div class="logo-container">
    <img ngSrc="assets/images/logo.svg" alt="Logo" height="320" width="320">
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Reservering <span class="word-to-hide">wijzigen</span></a></li>
    <li><a (click)="scrollToFAQ()">FAQ</a></li>
    <li><a href="#/contact">Contact</a></li>
    <!-- Update the href for the "Contact" link -->

    <!-- Add more navigation links as needed -->
  </ul>
</nav>
