<!-- app/components/footer/footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="Company Logo">
    </div>
    <div class="address">
      <h2>BOULES BITES BAR UTRECHT</h2>
      <p>Oudegracht aan de Werf 83</p>
      <p>3511 AL Utrecht</p>
    </div>
    <div class="space-between">

    </div>
    <div class="opening-hours">
      <h2>OPENINGS TIJDEN</h2>
      <p>Maandag	Gesloten</p>
      <p>Dinsdag	Gesloten</p>
      <p>Woensdag	15:00 - 22:00</p>
      <p>Donderdag	15:00 - 22:00</p>
      <p>Vrijdag	15:00 - 23:00</p>
      <p>Zaterdag	13:00 - 23:00</p>
      <p>Zondag	12:00 - 20:00</p>
    </div>

    <div class="back-to-top" (click)="scrollToTop()">
      <!-- Icon and text to go back to the top of the page -->
      <h2>Terug naar boven</h2>
    </div>
  </div>
  <div class="copyright-top">
    All rights reserved - Cookie Instellingen
  </div>
  <div class="copyright-bottom">
    Powered by Leerteam 6 | Algemene voorwaarden
  </div>
</footer>
